<ion-content padding class="background">

    <h1 class="titleScreen">Acord</h1>

    <button class="btnRegister" (click)="onRegisterClick()">
      <span class="titleBtnRegister">Registrar</span>
    </button>
    

    <ion-grid>
      <div class="am-material-ui">
        <div class="input">
          <text1>Email</text1>
          <input type="text">
          <text2>Digite seu email de inscrição</text2>
        </div>
        <div class="input">
          <text1>Senha</text1>
          <input type="password">
          <text2>Digite sua senha</text2>
        </div>
      </div>

      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label class="agreeTerms">Lembrar senha</ion-label>
      </ion-item>

      <button class="btnLogin">
        <span class="titleBtnLogin">Login</span>
      </button>
    </ion-grid>    
</ion-content>