<ion-content padding class="background">
  <h1 class="titleScreen">Acord</h1>

  <ion-grid>
    <div class="am-material-ui">
      <div class="input">
        <text1>Login</text1>
        <input type="text">
        <text2>Digite o nickname</text2>
      </div>
      <div class="input">
        <text1>Email</text1>
        <input type="text">
        <text2>Digite email para inscrição</text2>
      </div>
      <div class="input">
        <text1>Senha</text1>
        <input type="password">
        <text2>Crie uma senha segura de preferência com letras e números</text2>
      </div>
      <div class="input">
        <text1>Confirme sua senha</text1>
        <input type="password">
        <text2>Digite sua senha novamente</text2>
      </div>
    </div>   

    <ion-item>
      <ion-checkbox></ion-checkbox>
      <ion-label class="agreeTerms">Concordo com os termos de serviço da Acord Music</ion-label>
    </ion-item>

    <button class="buttonRegister">
      <span class="titleButtonRegister">Registrar</span>
    </button>
  </ion-grid>
</ion-content>